<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8">
<!--    <meta th:name="${_csrf.parameterName}" th:content="${_csrf.token}">-->
    <title>Title</title>
<!--    <script src="https://kit.fontawesome.com/31019ea24a.js" crossorigin="anonymous"></script>-->
</head>
<body>
<table border="1" th:border="1">
    <thead>
    <tr>
        <td>serialNumber</td>
        <td>cpu</td>
        <td>ram</td>
        <td>ssd</td>
        <td>vga</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="vo : ${vos}">
        <td th:text="${vo.serialNumber}"/>
        <td th:text="${vo.cpu}"/>
        <td th:text="${vo.ram}"/>
        <td th:text="${vo.ssd}"/>
        <td th:text="${vo.vga}"/>
    </tr>
    </tbody>
</table>
</body>
</html>